/* Calendar container */
.react-calendar {
  font-family: mier;
  text-decoration: none;
}

/* Navigation (month/year at top) */
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.react-calendar__navigation button {
  color: #2d2d2d;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  padding: 4px 8px;
  transition: background 0.3s;
}

.react-calendar__navigation button:hover {
  background: #d9f2d9;
}

/* Weekday labels (Mon, Tue, etc.) */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: 600;
  color: #555;
  text-decoration: none;
}

/* Days (default look) */
.react-calendar__tile {
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 35%;
  transition: background 0.3s, color 0.3s;
  transform: scale(0.9);
}

/* Highlight login days */
.highlight {
  background: #77c84eb7 !important;
  color: white !important;
  border-radius: 50% !important;
  border-radius: 35%;
  transform: scale(0.9);
}

/* Today */
.react-calendar__tile--now {
  /* background: #f0f7eb !important; */
  background: transparent !important;
  border: 1px solid #2e7d32 !important;
  color: #2e7d32 !important;
}

/* Hover effect */
.react-calendar__tile:hover {
  background: #e6f5e6;
  cursor: pointer;
}
