.dashboard-container {
  height: 100%;
  width: 100%;
  display: flex;
}
.leftDash {
  padding: 1em 2em 1em 2em;
  width: 70%;
}
.leftDash h1 {
  font-weight: 700;
  font-size: 1.8em;
  font-family: mier;
}
.leftDash .dashBanner {
  width: 100%;
  height: 8em;
  margin-top: 1.5em;
  border-radius: 0.75em;
  background-color: #4ac57748;
  padding: 1em;
  align-content: end;
}
.dashBanner h2 {
  font-weight: 500;
  font-size: 1.3em;
}
.dashBanner p {
  margin-top: 1em;
  font-size: 0.9em;
  margin-bottom: 0.5em;
  color: #509367ef;
}
.activityDash {
  margin-top: 2em;
}
.upperActivity {
  height: 20em;
  display: flex;
  gap: 2.4em;
}

.upperActivity .bmrCont {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bmrCont .upperBmr {
  border-radius: 0.75em;
  padding: 0.6em 1em 0.5em 1em;
}
.upperBmrUpper {
  display: flex;
}
.upperBmr .blok {
  font-family: mier;
  background: linear-gradient(45deg, white, rgb(204, 245, 127));
  border-radius: 0.25em;
  width: 4em;
  height: 4em;
  text-align: center;
  align-content: center;
  color: black;
  font-size: 0.8em;
}
.upperBmr p {
  color: rgba(0, 0, 0, 0.803);
  margin-left: 1em;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 500;
}
.white-lines {
  padding-top: 0.4em;
  display: flex;
  gap: 0.5em;
}
.white-lines .line {
  width: 4em;
  height: 0.3em;
  background-color: white;
  border-top-right-radius: 0.75em;
}
.upperActivity .calCont {
  padding: 2.5em 01.1em 0 1.1em;
  display: flex;
  border-radius: 0.75em;
  background: linear-gradient(rgba(255, 255, 255, 0.791), #4ac57767);
  width: 55%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px white, 0 0 30px #fff;
}
/*------------Lower Ativity-----------------------------------------*/
.lowerActivity {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}
.lowerActivity .lowerCont {
  padding: 0.5em 0.8em;
  height: 4em;
  width: 15em;
  background: linear-gradient(-23deg, #13572c5c, #4ac577);
  border-radius: 0.5em;
  display: flex;
  gap: 1em;
  align-items: center;
}
.lowerActivity .LInfo {
  font-family: mier;
  padding: 0.3em;
  font-size: 14px;
  width: 11em;
  height: 3.4em;
  line-height: 0.9em;
  border-radius: 0.75rem;
}
.lowerActivity button {
  background-color: white;
  opacity: 0.6;
  font-size: 0.8em;
  height: 2em;
  color: black;
  font-family: mier;
  border-radius: 5rem;
  width: 5em;
  transition: 0.6s;
}
.lowerActivity button:hover {
  background-color: rgb(113, 220, 113);
  opacity: 1;
}

/*---------------------right column----------------------------------*/

.rightDash {
  width: 30%;
  background-color: #4ac57748;
}
.top-rightdash {
  height: 18em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.imgplacehld {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 10em;
  border-radius: 0.75em;
  background-color: rgb(33, 89, 33);
}
.top-rightdash h1 {
  font-family: mier;
  margin-top: 1em;
  font-size: 1.2em;
}
.imgplacehld img {
  width: 10em;
  height: 10em;
  border-radius: 0.75em;
  object-fit: cover;
}
.imgplacehld p {
  margin-top: 1em;
  color: white;
  font-weight: 600;
  font-size: 3em;
}
.bottom-rightDash .popupStats {
  display: flex;
  justify-content: space-around;
  margin-top: -1em;
  text-align: center;
  line-height: 2.3em;
}
.genderDisplay {
  padding: 1em;
  margin-top: 1.7em;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.genderDisplay p {
  font-weight: 400;
}
.popupLabel {
  font-size: 1.3em;
  color: #254b07;
  font-weight: 700;
}
.exerciseQuant {
  margin-top: 0.2em;
  text-align: center;
  font-size: 1.3em;
  color: #254b07;
  font-weight: 700;
}
.exerciseQuant #activityQuant {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
  font-weight: 500;
  font-size: 0.8em;
  border-radius: 5rem;
  width: 15em;
  color: white;
  font-family: mier;
  /* outline: 1px solid #bae4ca; */
  background: linear-gradient(-23deg, #244b07c0, #4ac577);

  padding: 0.7em 0;
}
.chart {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #4ac57740; */
  background-color: #e3e3e3bb;
  border-radius: 0.75em;
  height: 13em;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart P {
  font-family: mier;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  z-index: 4;
}
svg {
  transform: scale(0.8);
}
