/* * {
  outline: 1px solid black;
} */
.settingCont {
  padding: 1.5em;
  /* outline: 2px solid blueviolet; */
  /* background-color: green; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
/*Left Column-------------------*/

.imgSet {
  /* background-color: aqua; */
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
.imgSet h1 {
  /* background-color: red; */
  text-align: center;
  align-content: end;
  font-weight: bolder;
  font-size: 1.6em;
}
.imgSet .imgPLH {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.imgSet .imagePlaceholder {
  background-color: rgba(128, 128, 128, 0.079);
  height: 20em;
  width: 20em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageSett img {
  height: 18em;
  width: 18em;
  border-radius: 50%;
  object-fit: cover;
}
.imgSet .saveImg {
  height: 100%;
  padding-top: 1em;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  gap: 1em;
}
.saveImg input {
  width: 15em;
  height: 4em;
  /* outline: 1px solid black; */
}
.saveImg button {
  height: 2.6em;
  width: 8.4em;
  background: linear-gradient(-23deg, #244b07c0, #4ac577);
  color: white;
  border-radius: 075em;
  font-family: mier;
  transition: 0.5s;
}
.saveImg button:hover {
  outline: 1px solid #254b07;
  background-color: #7fc54a;
  color: #192b0b;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}
/*Right Column-----------------*/
.editInfo {
  display: grid;
  grid-template-rows: 1fr 5fr;
  padding: 1.5em;
  border-left: 1px solid rgba(128, 128, 128, 0.303);
}
.editInfo h1 {
  background-color: aqua;
  font-size: 1.2em;
  padding: 1em 0 0 1em;
  align-content: end;
  font-weight: 700;
}
/* .editInfo .formSett {
  background-color: red;
} */

.editInfo form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5em;
  font-weight: 500;
}

.editInfo input {
  margin-top: 0.6em;
  margin-bottom: 1.6em;
  padding-left: 0.4em;
  width: 17em;
  height: 2.6em;
  border-radius: 0.5em;
  background-color: rgb(209, 209, 209);

  transition: 0.3s;
}
.editInfo input:focus {
  outline: none;
  background-color: #7fc54a60;
  color: black;
  border-bottom: 3px solid #254b07;
}
.editInfo input:hover {
  background-color: #7fc54a60;
  color: black;
}
.editInfo label {
  font-weight: 700;
}
.editInfo select {
  border-radius: 0.25em;
  width: 15em;
  height: 2em;
  color: white;
  background-color: #31a35b;
}
.editInfo button {
  border-radius: 2em;
  height: 2.5em;
  width: 6em;
  margin-top: 5.5em;
  font-family: mier;
  font-weight: 400;
  color: white;
  background: linear-gradient(-23deg, #244b07c0, #4ac577);

  transition: 0.3s;
}
.editInfo button:hover {
  outline: 1px solid #254b07;
  background-color: #7fc54a;
  color: #192b0b;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

/*----------NEW---------------*/
.settings-wrapper {
  width: 100%;
  height: 100%;
  padding: 2em;
}
.settings-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 7fr;
  gap: 1em;
}
.settings-container .settings-left {
  background-color: rgb(247, 247, 247);
  border-radius: 0.75em;
  height: 100%;
}
.settings-left .image-placeholder {
  height: 11em;
}
.image-placeholder .image-sec {
  background-color: rgb(218, 218, 218);
  height: 11em;
  width: 11em;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.image-sec img {
  height: 11em;
  width: 11em;
  border-radius: 50%;
  object-fit: cover;
}
.settings-left h1 {
  font-family: mier;
  text-align: center;
  font-weight: bolder;
  color: rgb(77, 77, 77);
  font-size: 1.7em;
}
.settings-left p {
  font-family: mier;
  text-align: center;
  color: rgb(77, 77, 77);
  margin-top: 1em;
}
.settings-left .uploadImage {
  display: block;
  margin-top: 2em;
  justify-self: center;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  /* border: 1px solid #555; */
  font-family: mier;
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.05),
    3px -2px 10px rgba(0, 0, 0, 0.05);
}
.settings-left input[type="file"]::file-selector-button {
  font-family: mier;
  border: none;
  background: #31a35b;
  padding: 8px 15px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.settings-left .uploadBtn {
  display: block;
  background-color: #31a35b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 22em;
  height: 2.5em;
  font-family: mier;
  font-weight: bolder;
  color: white;
  border-radius: 0.5em;
  transition: 0.3s;
}

.settings-left .uploadBtn:hover {
  background-color: #217c42;
}

/*RIGHT COLOUMN-----------------------------------------------*/
.settings-container .settings-right {
  background-color: rgb(247, 247, 247);
  border-radius: 0.75em;
  height: 100%;
  padding: 1em;
}
.settings-right form {
  height: 100%;

  font-family: mier;
}
form .form-left {
  height: 100%;
  color: rgb(77, 77, 77);
  font-size: 14px;
}

.form-left h1 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
.form-left .upperRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}
.form-left input {
  display: block;
  width: 100%;
  height: 3em;
  padding-left: 0.7em;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5em;
  margin-bottom: 1.4em;
}

.midRight input {
  width: 100%;
  height: 3em;
}

.form-left .lowRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}
.form-left select {
  width: 100%;
  height: 3em;
  padding-left: 0.7em;
  border-radius: 0.5em;
  background-color: rgb(233, 233, 233);
  margin-bottom: 1.4em;
}
.form-left button {
  background-color: #31a35b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.6em;
  width: 100%;
  height: 3em;
  font-family: mier;
  font-weight: bolder;
  color: white;
  border-radius: 0.5em;
  transition: 0.3s;
}
.form-left button:hover {
  background-color: #217c42;
}
